
body {
  background: #fff000;
  padding-top:15px;
}

.logo{
  padding-right: 15px;
  padding-left: 15px;
}
.logo img{
  max-width: 20%;
}
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

 .btn {
  text-transform: uppercase;
  font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ff2800;
  padding: 10px;
  border: 4px #ff2800 solid;
  transition: 0.2s all;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.05em;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  width: 90%;
  margin-top: 5px;
}
table .btn {
  width: auto;
}
 .btn i {
   margin-right: 5px;
 }
.btn:hover{
  color: #fff;
  background: #ff2800;
  border: 4px #ff2800 solid;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #93a3b5;
  font-size: 14px;

  letter-spacing: 0.05em;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;

}

.profile-usermenu ul li a:hover {
  background-color: #ff2800;
  color: #fff;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #fff;
  background-color: #ff2800;

}

/* Profile Content */
.admin-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.admin-content h2 {
  color: #ff2800;
  font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0 auto;
  padding-bottom: 20px;
  background: none;
  text-shadow: none;
  display: block;
  letter-spacing: 0.15em;

}


.gauge {
  margin-bottom: 20px;
  text-align: center;
}
.gauge .circle{
  margin-bottom: 20px;
}

.progressbar-text{
  font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.1em;
}

.registrations-table tbody tr td{
  vertical-align: middle;
}

.paid-registration{
  opacity: 0.5;
}
.paid-registration

.table>tbody>tr>td.ticket-row{
  border-top: none;
}