footer.nb-footer {
    background: #fff000;
    padding-top: 40px;

}

footer h2 {

}
.footer-header{
    text-align: center;
}

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

footer.nb-footer .about p {

    color: #000;
    margin-top: 30px;
}

footer.nb-footer .about .social-media {
    margin-top: 15px;
}

footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 49px;
    height: 49px;
    line-height: 30px;
    background-color: #ff2800;
    color: #fff000;
    font-size: 30px;
    border: 4px solid #fff000;
    transition:0.2s border;
    transition:0.2s background;

}
footer.nb-footer .about .social-media ul li a:hover {
    background-color: #fff000;
    color: #ff2800;
    border: 4px solid #ff2800;
    transition:0.2s border;
    transition:0.2s background;
}

footer i {
    margin-top: 9px;
}

footer.nb-footer .about .social-media ul li a:hover {

}

footer.nb-footer .footer-info-single {
    margin-top: 30px;
}


footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #000;
    padding: 2px 0;
}

footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33;
}

footer.nb-footer .footer-info-single p {
    margin-top: 15px;
    color: #000;
}

footer.nb-footer .footer-info-single p.date {
    margin-top: 15px;
    color: #ff2800;
    font-size: 20px;
    font-family: "Source Sans Pro Light Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 20px 0;
    color: #fff000;

}

footer.nb-footer .copyright img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition:0.2s opacity;
}
footer.nb-footer .copyright img:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    transition:0.2s opacity;
}

@media ( max-width: 1366px ) {
    footer.nb-footer .copyright img {
        max-width: 120px;
    }
}
