
/* ---------------------------------- PC/TABLET STYLES --------------------------------- */

@media (min-width: 768px){
    .navbar-right {
        float: right!important;

    }
}
/*HEADER*/
.navbar-brand-centered {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.navbar-brand-centered img {
    max-width: 350px;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {

}
.navbar-left li{
    margin-right: 10px;
}
.navbar-right li{
    margin-left: 10px;
}
.header{
    background: #fff000 url(../img/header_bg.png) repeat-x bottom;
    background-size: contain;
    padding-top: 150px;
}
.subpageHeader {
    padding-top: 150px;
    background:  #ff2800;
}

.subpageHeader h1 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
    color: #fff000;
    margin-top: 25px;
}

.navbar {
    height: 150px;
    background: #fff000 none;
    box-shadow: none;
    border: none;
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.navbar-default .navbar-nav>li>a {
    color: #2e2e2e;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.navbar-nav li a {
    line-height: 100px;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}
.navbar-nav li a:hover {
    display: inline-block;
    position:relative;
    background: url(../img/wave_black.png) repeat-x 0% 70%;
}
.navbar-nav li a:active, .navbar-nav li a:focus{
    display: inline-block;
    position:relative;
    background: url(../img/wave_black.png) repeat-x 0% 70%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background: #7DD8CB;
    box-shadow: none;
    transition:0.2s background-color;
}
.navbar-nav>li>.dropdown-menu {

    background: #7DD8CB;
    border: none;
    box-shadow: none;
}
.dropdown-menu>li>a {
    line-height: 1.42857143;

}
.dropdown-menu>li:hover {

    background: #ff2800 none;


}
.dropdown-menu>li>a:hover {
    background: none;
    color: #FFF;
}

.header .hero {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 100px;

    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header .hero h1 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
    color: #ff2800;
}

.header .hero p {
    color: black;
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
    font-family: "Radikal Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header .hero p b {
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header .btn-primary {
    color:#fff000;
    background: #ff2800 none;
    border: #fff000 solid 5px !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    padding: 14px 26px;
    transition:0.2s background-color;
    border-radius: 0;
}

.header .btn-primary:hover {
    color: #ff2800;
    background: #fff000 none;
    border:  #ff2800 solid 5px !important;
}

.header .btn-primary:active {

}

.languages {

}
.navbar-toggle{
    margin-top: 23px;
    background: #ff2800 none;
    border: #fff000 solid 5px !important;
}
.navbar-toggle:active, .navbar-toggle:focus{

    background-color: #fff000;
    border: #ff2800 solid 5px !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #fff000;
    border: #ff2800 solid 5px !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff000;
}
.navbar-default .navbar-toggle:active .icon-bar, .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background-color:#ff2800 ;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #0f0f0f;
}
/* FOOTER */


/* ------------------------- SMALLER DEVICES ---------------------------*/

@media ( max-width: 1366px ) {
    .navbar-brand-centered img {
        max-width: 200px;
    }

    .navbar-nav li a {
        line-height: 60px;
    }
    .dropdown-menu>li>a {
        line-height: 1.42857143;
    }
    .navbar {
        height: 105px;
    }
    .header .hero{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header .hero h1{
        font-size: 42px;
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

}
@media (max-width: 400px) {
    .navbar-brand-centered img  {
        max-width: 150px
    }

}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
    }
    .subpageHeader {
        padding-top: 125px;
    }
    .nav>li {
        position: relative;
        display: block;
    }

    .subpageHeader h1 {
        text-align: center;
        margin-top: 0;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 14px;
        color: #fff000;
    }
    .header{
        background-size: 200%;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;

    }

    .navbar-nav > li {
        float: none;

    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .navbar-nav >* {
        text-align: center;
    }


    .collapse.in {
        display: block !important;
        box-shadow: none;
        border: none;
        transition: none;
        max-height: 80vh;
    }

    .navbar-nav .open .dropdown-menu{
        background-color: #00c7ac;
        text-align: center;
        margin-left: 0;

    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #0f0f0f !important;

    }

    .navbar-nav li a:hover {
        display: inline-block;
        position:relative;
        background: url(../img/wave_black.png) repeat-x 0% 80%;
    }

    .nav.navbar-nav{
        background-color: #00dcc1;
        margin:0;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
        background-color: #00dcc1;
    }
    .dropdown-menu>li:hover {

        background-color: #00dcc1;


    }
}

