/* Imports */
@import "header.css";
@import "footer.css";

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

/* Fonts definition */

@font-face {
    font-family: 'Radikal UltraThin';
    src: url('../fonts/../fonts/Radikal-UltraThin.eot');
    src: url('../fonts/Radikal-UltraThin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-UltraThin.woff') format('woff'),
    url('../fonts/Radikal-UltraThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal Medium';
    src: url('../fonts/Radikal-Medium.eot');
    src: url('../fonts/Radikal-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-Medium.woff') format('woff'),
    url('../fonts/Radikal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal Black Italic';
    src: url('../fonts/Radikal-BlackItalic.eot');
    src: url('../fonts/Radikal-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-BlackItalic.woff') format('woff'),
    url('../fonts/Radikal-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal Thin';
    src: url('../fonts/Radikal-Thin.eot');
    src: url('../fonts/Radikal-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-Thin.woff') format('woff'),
    url('../fonts/Radikal-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal';
    src: url('../fonts/Radikal.eot');
    src: url('../fonts/Radikal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal.woff') format('woff'),
    url('../fonts/Radikal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal Thin Italic';
    src: url('../fonts/Radikal-ThinItalic.eot');
    src: url('../fonts/Radikal-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-ThinItalic.woff') format('woff'),
    url('../fonts/Radikal-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal Light';
    src: url('../fonts/Radikal-Light.eot');
    src: url('../fonts/Radikal-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-Light.woff') format('woff'),
    url('../fonts/Radikal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal Italic';
    src: url('../fonts/Radikal-Italic.eot');
    src: url('../fonts/Radikal-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-Italic.woff') format('woff'),
    url('../fonts/Radikal-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal Black';
    src: url('../fonts/Radikal-Black.eot');
    src: url('../fonts/Radikal-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-Black.woff') format('woff'),
    url('../fonts/Radikal-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal Bold Italic';
    src: url('../fonts/Radikal-BoldItalic.eot');
    src: url('../fonts/Radikal-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-BoldItalic.woff') format('woff'),
    url('../fonts/Radikal-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal Light Italic';
    src: url('../fonts/Radikal-LightItalic.eot');
    src: url('../fonts/Radikal-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-LightItalic.woff') format('woff'),
    url('../fonts/Radikal-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal Medium Italic';
    src: url('../fonts/Radikal-MediumItalic.eot');
    src: url('../fonts/Radikal-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-MediumItalic.woff') format('woff'),
    url('../fonts/Radikal-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Radikal Bold';
    src: url('../fonts/Radikal-Bold.eot');
    src: url('../fonts/Radikal-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-Bold.woff') format('woff'),
    url('../fonts/Radikal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Radikal UltraThin';
    src: url('../fonts/Radikal-UltraThinItalic.eot');
    src: url('../fonts/Radikal-UltraThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Radikal-UltraThinItalic.woff') format('woff'),
    url('../fonts/Radikal-UltraThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../fonts/SourceSansPro-Bold.eot');
    src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Bold.woff') format('woff'),
    url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url('../fonts/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Bold Italic';
    src: url('../fonts/SourceSansPro-BoldIt.eot');
    src: url('../fonts/SourceSansPro-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-BoldIt.woff') format('woff'),
    url('../fonts/SourceSansPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro Italic';
    src: url('../fonts/SourceSansPro-It.eot');
    src: url('../fonts/SourceSansPro-It.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-It.woff') format('woff'),
    url('../fonts/SourceSansPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../fonts/SourceSansPro-Light.eot');
    src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Light.woff') format('woff'),
    url('../fonts/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Light Italic';
    src: url('../fonts/SourceSansPro-LightIt.eot');
    src: url('../fonts/SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-LightIt.woff') format('woff'),
    url('../fonts/SourceSansPro-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

a {
    color: #ff2800;
}
a:hover {
    color: rgba(255, 40, 0, 0.73);
}

h2 {
    color: #ff2800;
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 auto;
    padding-bottom: 20px;
    background: url(../img/wave_red.png) repeat-x 0% 100%;
    text-shadow: 4px 3px 0px rgb(125, 216, 203);
    display: table;
    letter-spacing: 0.15em;
}


h3 {
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
}
.red {
    color: #ff2800;
}

.black {
    color: #000;
}

.yellow{
    color: #fff000;
}
.blue{
    color: #7DD8CB;
}
.center {
    text-align: center;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

body, p, span {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;

    line-height: 25px;
    letter-spacing: 0.05em;
}

/*  HOMEPAGE  */
.login{
   text-align: right;
}
.section-text {
    font-size:  20px;
    line-height: 30px;
    font-family: "Source Sans Pro Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bolder-text{
    font-family: "Source Sans Pro Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
#aboutus .activities{
    margin-top: 50px;
    text-align: center;
}
#aboutus .activity img {
    width: 100%;
}
#aboutus .activity h3 {
    margin-top: 20px;
    margin-bottom: 16px;
    min-height: 44px;
}
#aboutus .activity h3 {

}
#aboutus .activity h3.oneline {
    line-height: 44px;
}
#aboutus {
    margin-top: 100px;
    margin-bottom: 100px;

}
#aboutus h2, #where h2 {
    margin-bottom: 40px;
}

#aboutus .activity p {
    margin-top: 20px;
    margin-bottom: 30px;
    min-height: 175px;
}
#aboutus .activity-program{

    text-transform: uppercase;
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ff2800;
    padding: 10px;
    border: 4px #ff2800 solid;
    transition:0.2s all;
}
#aboutus .activity-program:hover {
    text-decoration: none;
    background-color: #ff2800;
    color: #fff000;
    transition:0.2s all;
}

#where #map {height: 500px}
#where .address {
    background: #7DD8CB;
    height: 500px;
    display: table;
}
#where .address .centered {
display: table-cell;
    vertical-align: middle;
    text-align: center;

}
.row {
    margin-left: 0;
    margin-right: 0;
}

#sponsors, #aboutus, #where {
    margin-top: 150px;
    margin-bottom: 150px;
}
#sponsors  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition:0.2s opacity;

}
#sponsors img.sponsor:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    transition:0.2s opacity;
}




/* ----------- REGISTRATION PAGE --------------------*/

section.subpage {
    margin-top: 70px;
    margin-bottom: 70px;
}
.subpage .section-text {
    margin-bottom: 50px;
}
.subpage h2, .subpage h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#registration .information-text, #program .information-text {
    margin-bottom: 20px;
    border-left: 4px solid #fff000;
    padding-left: 7px;
}
#registration .information-text h3, #program .information-text h3{
    margin-top: 0;
    margin-bottom: 10px;
}
#registration form .row {
    margin-bottom: 20px;
}
#registration .form-group.required .control-label:after {
    content:"*";
    color:red;
}
#registration input:active, #registration input:focus {
    box-shadow: none;
    border: 2px solid #fff000;
}

#registration button {
    box-shadow: none;
    border-radius: 0;
    background: #FFFFFF;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ff2800;
    padding: 10px;
    border: 4px #ff2800 solid;
    transition:0.2s background;
    transition:0.2s color;
}

#registration button:hover {
    background-color: #ff2800;
    color: #fff000;
    transition:0.2s background;
    transition:0.2s color;
}
#registration i {
    font-size: 135px;
    color:#7DD8CB;
    margin-bottom: 20px;
}
#registration form .checkbox {
    margin: 0;
}

/* ----------- LEGAL/RULES PAGE --------------------*/
#legal p, #rules p {
    margin-bottom: 10px;
}
#rules h3 {
    margin: 0;
}

#rules ul li{
    list-style-type: none;

    margin-bottom: 20px;

}
#rules ul li h3, #rules ul li p{
    border-left: 4px solid #fff000;
    padding-left: 15px;
}
#rules .wrapper {
   margin-left: 22px;
    margin-top: -23px;

}

#rules ul li {
    counter-increment: step-counter;
    margin-bottom: 20px;

}

#rules ul li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: #fff000;
    color: #ff2800;
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 3px 8px;

}


@media (max-width: 991px) {
    .navbar-brand-centered {
        transform: none;
        left: auto;
        position: relative;
    }
    #aboutus .activity p{
        max-height: inherit;
        min-height: auto;
    }
    #where #map {height: 250px}
    #aboutus .activity img {
        width: 50%;
    }
    .section-text, .section-text .bolder-text {
        font-size: 17px;
    }
    #sponsors, #aboutus, #where {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    h2 {
        color: #ff2800;
        text-transform: uppercase;
        font-size: 25px;
        margin: 0 auto;
        padding-bottom: 20px;
        background: url(../img/wave_red.png) repeat-x 0% 100%;
        text-shadow: 4px 3px 0px rgb(125, 216, 203);
        display: table;
        letter-spacing: 0.15em;
    }

    #where .address {
        max-height: 250px;
    }
    #registration button {
        width: 100%;
    }
    #registration .information-text {
        margin-bottom: 20px;
        border-left: none;
        padding-left: 0;
        text-align: center;
    }


}

/* -------- NEWS -----------*/

#news .newsitem {
    margin-bottom: 20px;
}

#news .newsitem .date-published {
    margin-bottom: 5px;

     color: #ff2800;
    font-family: "Source Sans Pro Light Italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ------- PAGINATION ------- */
.pagination ul {
    margin: 0 auto;
    list-style: none;

}

.pagination li >*  {
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 0;
}
.pagination >li >a {
    border: none;
    border-radius: 0;

    background-color: #fff000;
    color: #000;
    transition:0.2s background;
    transition:0.2s color;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-radius: 0;

}
.pagination >li >a:hover {
    background-color: #ff2800;

    color: #fff000;
    transition:0.2s background;
    transition:0.2s color;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #ff2800;
    border: none;
    color: #fff000;
    transition:0.2s background;
    transition:0.2s color;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    border:none;
    border-radius:0;
    background: #ededed;
    transition:0.2s background;
    transition:0.2s color;
}

/**TEAM */
.team-member{
  margin-bottom: 20px;
  text-align: left;
  padding:10px
}

.team-member:hover{
 background: #f2f2f2;
  transition: 0.2s all;

}

.team-member-img img {
  max-width: 200px;
}

.team-member:hover .team-member-img img {
  max-width: 200px;

}

@media (max-width: 990px) {
    .team-member {
        text-align: center;
    }

    .team-member-img img {
        margin: auto;
    }

 .admin-content button {
     width: 100%;
 }

}

/*-----------ACTIVITY ---------------*/

.activity-item-background{
    margin-top: 20px;
}
.activity-item-data{
    color: #ffffff;
    padding: 20px;
}

.activity-item-header{
    padding:0 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-item-type{
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.activity-item-header .activity-item-time h4{
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 5px;
    border: 4px solid #fff;
    background:#fff;
}

.activity-item-header.rpg .activity-item-type, .activity-item-header.BOARD_GAME .activity-item-type, .activity-item-header.other .activity-item-type{
    color: #fff;
}
.activity-item-header.rpg{
    background-color: #ff2800;
    color:  #ff2800;
}
.activity-item-header.BOARD_GAME {
    background-color: #7DD8CB;
    color: #7DD8CB;
}
.activity-item-header.LARP {
    background-color: #fff000;
    color: #0f0f0f;
}

.activity-item-header.other {
    background-color: #0f0f0f;
    color: #0f0f0f;
}


.activity-item-data .activity-item-buttons{
    margin-top: 20px;
    text-align: right;
}
.activity-item-data a{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    padding: 10px;
    border: 4px #fff solid;
    transition:0.2s all;
}
.activity-item-data a:hover{
    background: #fff;
}

.program-controls{
 background: #f2f2f2;
}
.program-controls .row{
    padding: 20px 0;
}

.activity-item-buttons span, .activity-item-buttons i {
    margin-right: 10px;
}

.program-controls .program-type{
    display: flex;
}
.program-controls .program-type select{
    margin-left: 10px;
}
.program-controls .checkbox{
    margin-left: 10px;
}

section.subpage#program{
    margin-top: 0;
}

#program .information-text{
    margin-top: 20px;
}

#program .views a {
    text-transform: uppercase;
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ff2800;
    padding: 10px;
    border: 4px #ff2800 solid;
    transition: 0.2s all;
    border-radius: 0;
    box-shadow: none;
}

#program .views a.active,#program .views a:hover  {
    text-transform: uppercase;
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    padding: 10px;
    background:   #ff2800;
    border: 4px #ff2800 solid;
    transition: 0.2s all;
    border-radius: 0;
}
#program .controls {
    margin-top: 10px;
}


/* DETAIL AKTIVITY*/

#activity-detail .activity-item-header{
    padding: 0;
}

.activity-data{
    margin-top: 40px;
}

::selection {
  color: #FFFFFF;
  background: #ff2800; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #FFFFFF;
  background: #ff2800; /* Gecko Browsers */
}
#program .section-text{
    margin-top: 30px;
}

.vis-major{
    display: none;
}
.timetable{
    margin-top: 20px;
}
.vis-item{
    border-radius: 0;
    opacity: 0.9;
    border:none;
    border-width: 0;
}
.vis-item:hover{
    opacity: 1;
    cursor: pointer;
}
.vis-item.not-attendable{
    background-color: #f2f2f2;
}

.vis-item.not-attendable.attending{
    background-color: #26A65B;
}

.vis-item.rpg{
   border-left: 4px solid  #ff2800;
}
.vis-item.BOARD_GAME {
    border-left: 4px solid  #7DD8CB ;
}
.vis-item.LARP {
    border-left: 4px solid #fff000;
}
.vis-item.other {
    border-left: 4px solid #0f0f0f;
}

.vis-item.attendable.rpg{
    background-color: #ff2800;
    color:  #fff;
}
.vis-item.attendable.BOARD_GAME {
    background-color: #7DD8CB;
    color:#0f0f0f;
}
.vis-item.attendable.LARP {
    background-color: #fff000;
    color: #0f0f0f;
}

.vis-item.attendable.other {
    background-color: #0f0f0f;
    color: #fff;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
  border-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 0;
}

.form-signin button, #activity-detail .activity-item-buttons .btn, .admin-content button  {
    text-transform: uppercase;
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ff2800;
    padding: 10px;
    background:   #fff;
    border: 4px #ff2800 solid;
    transition: 0.2s all;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

#activity-detail .activity-item-buttons .btn.attend {
    color: #26A65B ;
    border: 4px #26A65B solid;
}

#activity-detail .activity-item-buttons .btn.attend:hover {

    color: #fff;
    background:   #26A65B ;
    border: 4px #26A65B  solid;
}

#activity-detail .activity-item-buttons .btn{
    background-color: #f2f2f2;
    width: 100%;
    margin-bottom: 10px;
}

.form-signin button:hover, #activity-detail .activity-item-buttons .btn:hover, .admin-content button:hover  {
    color: #fff;
    background:   #ff2800;
    border: 4px #ff2800 solid;
}

.form-signin input:active, .form-signin input:focus {
    box-shadow: none;
    border: 2px solid #fff000;
}

.activity-side-bar{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}
.activity-side-bar i {
    margin-right: 10px;
}

.admin-content h3{
    margin-top: 15px;
    margin-bottom: 15px;
}
.admin-content .divider {
    margin-top: 10px;
    border-top: 1px solid #d1d1d1;
}
.legend {
    margin-top: 10px;

}

.legend > * {
    padding: 5px 10px;
    min-height: 60px;
}

.activity-item-summary{
    text-shadow:1px 1px 3px #000;
}

@media (max-width:768px) {
    .activity-item-type{
        margin-right: 20px;
    }
}
@media (max-width:540px) {
    .activity-item-data .activity-item-buttons{
     text-align: center;
    }
}
.container.activity-data img {
    margin-top: 20px;
}
.container.activity-data h4 {
    text-transform: uppercase;
    font-family: "Radikal Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
}


